/pdbs/
/excel/
/lib/
/bin/
/share/
/include/
/etc/
/fastas/
/jsons/
/graphs/
/features/
/results/
/pdb_validator/
/protein_bank_pdbs/
/new_encodings/results/
/matches/
/chains/
/retinas/
/aligned_pdbs/
/retina_pdbs/
pyvenv.cfg
model.pckl
*.pckl
